# maven ignore
target/
#*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
/classes
/WebRoot/WEB-INF/classes/
.idea/
.settings/
.project
.classpath
.class

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
**/temp/
regcert-webapp/**/business/