#pager ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:10px;
margin:10px 0 50px;
padding:0;

width:auto;
height:auto;
display:block;
overflow:hidden;
margin:0 auto;
}

#pager ul.pages li {
list-style:none;
float:left;
border:1px solid #ccc;
text-decoration:none;
margin:0px 5px 10px 0;
padding:5px;

width:auto;
height:12px;
line-height:12px;
/* overflow:hidden; */
background:none;
overflow:visible;
}

#pager ul.pages li:hover {
border:1px solid #003f7e;
}

#pager ul.pages li.pgEmpty {
border:1px solid #eee;
color:#B4B4B4;
}

#pager ul.pages li.pgCurrent {
border:1px solid #003f7e;
color:#000;
font-weight:700;
background-color:#eee;
}